{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Getting Started" {:file "doc/getting-started.md"}]
  ["Recipes" {:file "doc/recipes.md"}]
  ["Adding an Identifier Type" {:file "doc/adding-a-type.md"}]]}
