[:aba
 :ad-nrt
 :al-nipt
 :ar-cbu
 :ar-cuit
 :ar-dni
 :at-businessid
 :at-postleitzahl
 :at-tin
 :at-vat
 :at-vnr
 :au-abn
 :au-acn
 :au-tfn
 :be-bis
 :be-eid
 :be-nn
 :be-ogm
 :be-ssn
 :be-vat
 :bg-egn
 :bg-pnf
 :bg-vat
 :bic
 :bitcoin
 :br-cnpj
 :br-cpf
 :by-unp
 :ca-bcphn
 :ca-bn
 :ca-sin
 :cas
 :cfi
 :ch-ahv
 :ch-esr
 :ch-uid
 :ch-vat
 :cl-rut
 :cn-ric
 :cn-usci
 :co-nit
 :cr-cpf
 :cr-cpj
 :cr-cr
 :credit-card
 :cu-ni
 :cusip
 :cy-vat
 :cz-bankaccount
 :cz-ico
 :cz-rc
 :cz-vat
 :de-handelsregisternummer
 :de-idnr
 :de-stnr
 :de-vat
 :de-wkn
 :dk-cpr
 :dk-cvr
 :dk-vat
 :do-cedula
 :do-ncf
 :do-rnc
 :dz-nif
 :ean13
 :ean8
 :ec-ced
 :ec-ruc
 :ee-ik
 :ee-rk
 :ee-vat
 :eg-tn
 :es-cae
 :es-ccc
 :es-cif
 :es-cups
 :es-dni
 :es-nie
 :es-nif
 :es-postalcode
 :es-referenciacatastral
 :es-vat
 :eu-at02
 :eu-banknote
 :eu-ecnumber
 :eu-eic
 :eu-nace
 :eu-oss
 :fi-associationid
 :fi-hetu
 :fi-vat
 :fi-veronumero
 :fi-ytunnus
 :figi
 :fo-vn
 :fr-nif
 :fr-nir
 :fr-siren
 :fr-siret
 :fr-vat
 :gb-nino
 :gb-upn
 :gb-utr
 :gb-vat
 :gh-tin
 :gln
 :gn-nifp
 :gr-amka
 :gr-vat
 :grid
 :gt-nit
 :gtin14
 :hk-id
 :hr-oib
 :hr-vat
 :hu-vat
 :iban
 :id-nik
 :id-npwp
 :ie-pps
 :ie-vat
 :il-company
 :il-idnr
 :imei
 :imo
 :imsi
 :in-aadhaar
 :in-epic
 :in-gstin
 :in-pan
 :in-vid
 :is-kennitala
 :is-vsk
 :isan
 :isbn
 :isil
 :isin
 :ismn
 :isni
 :iso11649
 :iso6346
 :isrc
 :issn
 :iswc
 :it-aic
 :it-cf
 :it-vat
 :jmbg
 :jp-cn
 :jp-in
 :ke-pin
 :kr-brn
 :kr-rrn
 :kz-bin
 :lei
 :li-peid
 :lt-asmens
 :lt-vat
 :lu-vat
 :luhn
 :lv-vat
 :ma-ice
 :mac
 :mc-tva
 :md-idno
 :me-pib
 :meid
 :mk-edb
 :mt-vat
 :mu-nid
 :mx-clabe
 :mx-curp
 :mx-rfc
 :my-nric
 :nhs
 :nl-brin
 :nl-bsn
 :nl-identiteitskaartnummer
 :nl-onderwijsnummer
 :nl-postcode
 :nl-vat
 :no-fodselsnummer
 :no-kontonr
 :no-mva
 :no-org
 :npi
 :nz-bankaccount
 :nz-ird
 :nz-nzbn
 :orcid
 :pe-cui
 :pe-ruc
 :pk-cnic
 :pl-pesel
 :pl-regon
 :pl-vat
 :pt-cc
 :pt-nif
 :pt-vat
 :py-ruc
 :ro-cf
 :ro-cnp
 :ro-cui
 :ro-onrc
 :ro-vat
 :rs-pib
 :ru-inn
 :ru-ogrn
 :se-orgnr
 :se-pnr
 :se-postnummer
 :se-vat
 :sedol
 :sg-nric
 :sg-uen
 :si-emso
 :si-maticna
 :si-vat
 :sk-ico
 :sk-rc
 :sk-vat
 :sm-coe
 :sscc
 :sv-nit
 :th-moa
 :th-pin
 :th-tin
 :tn-mf
 :tr-tc
 :tr-vkn
 :tw-gui
 :ua-edrpou
 :ua-rntrc
 :upc
 :upu-s10
 :us-atin
 :us-ein
 :us-itin
 :us-ptin
 :us-ssn
 :uy-rut
 :ve-rif
 :vin
 :vn-mst
 :za-id
 :za-tin]
